@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNovaLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNovaSemibold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}